.navigationContainer {
  padding: 16px;
  border-right: 1px solid #f0f0f0;
  height: 100%;
}

.sectionContainer {
  margin-bottom: 24px;
}

.selector {
  width: 100%;
}

.loadingContainer {
  text-align: center;
  padding: 16px;
} 