.pageLayout {
  min-height: 100vh;
}

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.contentLayout {
  margin-left: 250px;
}

.content {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
}

.loadingContainer {
  text-align: center;
  padding: 50px;
}

.loadingText {
  margin-top: 16px;
}

.userInfo {
  margin-top: 8px;
} 